@font-face {
  font-family: "Labil Grotesk";
  src: url("/fonts/Labil Grotesk.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Labil Grotesk Light";
  src: url("/fonts/LabilGrotesk-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Labil Grotesk Regular";
  src: url("/fonts/LabilGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
